name: main

on:
  schedule:
    - cron: "30 3 * * *"

jobs:
  poll_transform:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Execute script
      run: |
        python3 src/main.py
